@media (max-width: 768px){

  .menu-toggle{
    display: block;
    /*display: none; esconder o botão ☰ no desktop:*/
  }
   /* agrupar os botões */
  .header-buttons {
  display: flex;
  gap: 10px; /* espaço entre os botões */
}

a.menu {
  font-size: 14px;
}

  .nav{
    position: absolute;
    top: 69px;
    right: 0;
    
    /*background: #111;*/
    flex-direction: column;
    width: 200px;
    gap: 0px;
    padding: 20px;
    display: none;
  }

  .nav.active{
    display: flex;
  }
}

nav {
  gap: 30px;
 } 

#toggleTheme {
  font-size: 18px;
  margin-left: 0px; /*100px*/
}

#languageToggle {
  font-size: 14px;
  margin-left: 5px;
}

footer {
    padding: 150px
}



/* Quando a tela for menor que 600px → empilha */
@media (max-width: 430px) {
  body {
    margin: 0px 34px;
  }
  header {
    flex-direction: column;   /* coloca h1 em cima, nav embaixo */
    /*align-items: center;/* centraliza tudo */
  }

  h1 {
    margin-bottom: 10px; /* espaço entre o título e o menu */
  }

  h2 {
    padding-top: 100px;
  }

  nav {
    display: flex;
    gap: 13px;
    flex-wrap: nowrap; /* permite quebrar links se necessário */
    /*justify-content: ;*/
  }

  nav a {
    margin: 5px;
  }
  .nav {
    top: 75px;
    gap: 10px;
  }

  #toggleTheme {
    font-size: 18px;
    margin-left: 3px;
  }

  #languageToggle {
    font-size: 11px;
    margin-left: 3px;
  }
  main {
    padding-top: 0px;
    /*padding-top: 55px;*/
  }
  .logos {
    padding-top: 15px;
    /*padding-top: 4px;*/
  }
  footer {
    padding: 100px
    /*padding: 25px;*/
  }
}


@media (max-width: 375px) {
  body {
    margin: 0px 34px;
  }
  header {
    flex-direction: column;   /* coloca h1 em cima, nav embaixo */
    /*align-items: center;/* centraliza tudo */
  }

  h1 {
    margin-bottom: 10px; /* espaço entre o título e o menu */
  }

  h2 {
    padding-top: 53px;
  }

  nav {
    display: flex;
    gap: 0px;
    flex-wrap: nowrap; /* permite quebrar links se necessário */
    /*justify-content: ;*/
  }

  nav a {
    margin: 5px;
  }

  #toggleTheme {
    font-size: 18px;
    margin-left: 3px;
  }

  #languageToggle {
    font-size: 11px;
    margin-left: 3px;
  }
  main {
    padding-top: 0px;
    /*padding-top: 55px;*/
  }
  .logos {
    padding-top: 15px;
    /*padding-top: 4px;*/
  }
  footer {
    padding: 40px
    /*padding: 25px;*/
  }
}
