@media (max-width: 768px){  /*735*/

 nav {
  gap: 30px;
 } 

#toggleTheme {
  margin-left: 100px;
}

#languageToggle {
  font-size: 14px;
}

footer {
    padding: 150px
}

}
/* Quando a tela for menor que 600px → empilha */
@media (max-width: 600px) {
  body {
    margin: 0px 34px;
  }
  header {
    flex-direction: column;   /* coloca h1 em cima, nav embaixo */
    /*align-items: center;/* centraliza tudo */
  }

  h1 {
    margin-bottom: 10px; /* espaço entre o título e o menu */
  }

  nav {
    display: flex;
    gap: 3px;
    flex-wrap: nowrap; /* permite quebrar links se necessário */
    /*justify-content: ;*/
  }

  nav a {
    margin: 5px;
  }

  #toggleTheme {
    font-size: 18px;
    margin-left: 3px;
  }

  #languageToggle {
    font-size: 11px;
    margin-left: 3px;
  }
  main {
    padding-top: 0px;
    /*padding-top: 55px;*/
  }
  .logos {
    padding-top: 15px;
    /*padding-top: 4px;*/
  }
  footer {
    padding: 40px
    /*padding: 25px;*/
  }
}
