  @charset "UTF-8";
/* trabalhando mudança de temas*/
 :root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --header-bg: #f4f4f4;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --header-bg: #1e1e1e;
}



 
 body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
    /*color: white;
    background-color: black;*/
    padding: 0px 0px;
    margin: 0px 20px;
  }
  header {
  /*
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin: auto; */

  display: flex;
  flex-direction: column; /* empilha (título em cima) */
  gap: 10px;

  justify-content: space-between;
  padding-top: 20px;
  }

  /* agrupar os botões */
  .header-buttons {
  display: flex;
  gap: 38px; /* espaço entre os botões */
}
  /*
  .menu{
  text-decoration: none;
  color: inherit;
}
  */
  a.menu {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s;
  /*color: white; */
  font-size: 18px;
  gap: 20px;
  font-weight: bold;
  transition: all 0.3s ease; /* deixa suave */
  }
  a.menu:hover {
  color: #ff9800;
  transform: translateY(-3px); /* sobe 3px */
}

/* botão hamburguer escondido no desktop */
.menu-toggle{
  display: none;
  font-size: 28px;
  color: #ff9800;
  background: none;
  border: none;
  cursor: pointer;
}
  .nav {
  /*display: flex;/* coloca os itens em linha */
  /*gap: 15px;/* espaço entre os links */
  /*padding-right: 3px;
  text-shadow: 2px 2px 3px rgb(160, 157, 157); */
  display: flex;
  gap: 20px;
  align-items: center;
  }

  #toggleTheme {
  background: none;        /* tira fundo */
  gap: 5px;
  border: none;            /* tira borda */
  font-size: 26px;         /* aumenta tamanho */
  cursor: pointer;         /* muda cursor */
  margin-left: 50px;       /* separa do menu */
  transition: transform 0.2s ease;
}

#toggleTheme:hover {
  transform: scale(1.2);   /* efeito ao passar mouse */
}

#languageToggle {
  background: none;        /* tira fundo */
  color: var(--text-color);
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 3px rgb(160, 157, 157);
  border: none;            /* tira borda */
  font-size: 10px;         /* aumenta tamanho */
  cursor: pointer;         /* muda cursor */
  margin-left: 20px;       /* separa do menu */
  transition: transform 0.2s ease;
}
#languageToggle:hover {
  transform: scale(1.2);   /* efeito ao passar mouse */
}

/* cria uma linha só para menu + botões */
.nav,
.header-buttons {
  display: flex;
  align-items: center;
  
}

/* container para alinhar menu e botões */
.header-bottom {
  display: flex;
  justify-content: flex-start; /* space-between separa os dois lados */
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}

  /*nav a {
  margin: 0 10px;  10px de espaço à esquerda e à direita }*/
  h1 {
  margin-bottom: 10px;
  text-align: left;/* força alinhamento do texto */
  text-shadow: 2px 2px 3px rgb(160, 157, 157);
  font-size: 40px;
  }
  h2 {
    font-size: 25px;
    text-shadow: 2px 2px 3px rgb(160, 157, 157);
  }
  main {  
  padding-top: 140px;
  padding-bottom: 20px;
  margin: auto;
  }
  p {
  text-align: justify;
  max-width: 800px;   /* largura máxima do parágrafo */
  line-height: 1.6;   /* melhora a leitura */
  padding: 0 px;    /* respiro nas laterais em telas pequenas */
  }
  .logos {
  display: flex; /* coloca na mesma linha */
  gap: 20px; /* espaço entre elas */
  padding-top: 90px;
  margin: auto;
  }
  .logo img {
  width: 30px;
  height: 30px;
  object-fit: contain;/* mantém a proporção sem esticar */
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgb(160, 157, 157);
  border-radius: 50%;  /* mantém redonda (caso a imagem não seja) */
  border: 1px rgba(11, 9, 9, 0.406);
  border-style: solid;
  object-fit: cover;   /* garante que a imagem não deforme */
}
.logos img:hover {
  transform: translate(-6px, -6px);
  box-shadow: 5px 5px 10px rgb(174, 164, 164);
  transition: transform 1s, border 1s;
}
footer {
    text-align: center;
    padding-top: 100px;
    font-size: 11px;
}


/* header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav{
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu{
  text-decoration: none;
  color: inherit;
}

/* botão hamburguer escondido no desktop */
/*
.menu-toggle{
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
} */